<div class="question">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
  <div class="answer">
    <form action="/answer">
      <input class="box" type="text" name="question">
      <input class="box" type="submit" value="Ask!">
    </form>
  </div>
</div>
